/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    color: #333;
}

/* Hauptlayout */
h1 {
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container input {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-container button:hover {
    background-color: #0056b3;
}

/* Tabellenstile */
table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    word-wrap: break-word;
}

table thead {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Button-Stile */
.action-buttons {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 20px;
}

.action-buttons .back-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.action-buttons .back-button:hover {
    background-color: #e04e2a;
}